@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald";
}

body {
  overflow-y: hidden;
  position: relative;
  overflow-x: hidden;
}

.absolute--img {
  position: absolute;
  opacity: 0.5;
  filter: blur(3px);
  top: 30%;
  overflow-x: hidden;
  left: -8%;
  opacity: 0.2;
  width: 300px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.porsche {
  background: linear-gradient(0.25turn, #e2e2e2, #ffffff, #e2e2e2);
  width: 300px;
  height: 50vh;
  padding: 20px;
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.06),
    10px 0 10px -5px rgba(0, 0, 0, 0.06);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.division__line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.specs svg {
  width: 20px;
}

.line {
  width: 90px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.164);
}

.division__line img {
  width: 70px;
  opacity: 0.3;
}

.content--year {
  color: rgba(0, 0, 0, 0.692);
}

.content--specs {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}
.img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: all 300ms ease;
}

.img--wrapper:hover {
    transform: scale(1.01);
}

.img--wrapper:hover > .purchase--btn {
  opacity: 1;
}

.img--wrapper:hover > .picture--overlay {
    opacity: 1;
}

.purchase--btn {
  position: absolute;
  z-index: 6;
  color: white;
  opacity: 0;
  transition: all 300ms ease;
  border: 1px solid white;
  padding: 10px 30px;
}

.picture--overlay {
  z-index: 5;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.185);
  width: 589.19px;
  height: 344.53px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0;
  transition: all 300ms ease;
}

.purchase--btn:hover {
  background-color: white;
  color: black;
}

.purchase--btn:active {
  background-color: rgb(209, 209, 209);
  border-color: rgb(209, 209, 209);
  transform: scale(1.05);
}

.img--wrapper img {
  z-index: 3;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 10px rgba(0, 0, 0, 0.199);
  padding: 5px;
  box-sizing: 10px 10px 10px rgba(0, 0, 0, 1);
  width: 40%;
  width: 589.19px;
  opacity: 0.85;
  height: 344.53px;
}

.border {
  width: 589.19px;
  position: absolute;
  background: linear-gradient(0.25turn, #7d878b, #ebf8e1, #8a29299c);
  z-index: 2;
  height: 344.53px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.specs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.specs--title {
  font-size: 18px;
  font-weight: 400;
}

.specs--sub-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.692);
  font-weight: 400;
}

.logo {
  width: 180px;
}

.icon {
  width: 35px;
}

.logo--wrapper {
  width: 300px;
  height: 300px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.06),
    10px 0 10px -5px rgba(0, 0, 0, 0.06);
  background: linear-gradient(0.25turn, #e2e2e2, #ffffff, #e2e2e2);
}

.content--wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.content--title {
  font-size: 32px;
  font-weight: 500;
}
